CompileFlags:
  Add:
    - -ferror-limit=0
  Remove:
    - -mlongcalls
    - -mdisable-hardware-atomics
    - -mfix-esp32-psram-cache-issue
    - -mfix-esp32-psram-cache-strategy=*
    - -fno-tree-switch-conversion
    - -fstrict-volatile-bitfields
    - -fno-jump-tables
    - -mtext-section-literals
    - -fno-builtin-memcpy
    - -fno-builtin-memset
    - -fno-builtin-bzero
